body {
    width: 100%;
    background-color: #1c1c1c;
    margin: 0px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #111111;
  color: #ffffff;
  }

  header * {
    margin-top: 0px;
  }
  
  .logo img {
    width: 300px;
  }
  
  nav ul {
    display: flex;
    list-style: none;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 0.3s ease;
    letter-spacing: 1.5px;
    font-family: "Saira", Sans-serif;
  }
  
  nav a:hover {
    color: #ED582E;
  }

  .banner {
    display: flex;
    justify-content: center;
    border: 5px solid blue;
    height: 560px;
    background-color: #1c1c1c;
    color: #ED582E;
  }
  

  .imagen-banner{
    text-align: center;
  }
  
  .imagen-banner img {
    width: 80%;
  }
  
  .texto-banner {
    position: absolute;
    text-align: center;
  }
  
  .texto-banner h2 {
    font-size: 48px;
    font-weight: bold;
    margin-top: 20px;
    color: #000000;
    text-shadow: 2px 2px #ED582E;
  }

  .flexContenedor {
    display: flex;
    margin-top: 50px;
  }
  
  .flexContenedor > div {
    margin: 5px;
    font-size: 22px;
    width:60%;
  }

  .txtImage img{
    width: 100%;
  }

  h1, h3, p{
    color:#fff;
    align-items: right;
    margin-left: 25px;
    margin-top: 0;
  }

  .pie-pagina{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #111111; 
    color: white; 
    text-align: center;
    width: 100%;
    height: 75px;
  }
  